@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
  --color-primary: #42BDAC;
  --color-secondary: #FFFFFF;
  --color-background: #1A2433;
}

body {
  font-family: "Roboto", sans-serif;
}
/* src/index.css or App.css */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #1A2433;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #42BDAC; 
  border: 2px solid transparent;
  background-clip: content-box;
}

